html {
  font-size: 12px;
  background-color: black;
  background: url(https://images.unsplash.com/photo-1474433188271-d3f339f41911?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
}

body,html {
  font-family: sans-serif;
}

.rps, .welcomebox {
  padding-top: 2%;
  display: flex;
  flex: 1;
  min-height: 25vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 1%;
}

.rps {
  padding-top: 2%;
}

.box-rock, .box-paper, .box-scissors, .box-default, .box-counter-player,
.box-counter-cpu, .box-win, .box-lose, .box-play-again {
  border-radius: 20rem;
  margin: 1rem;
  font-size: 1.0rem;
  padding: 2rem 2rem;
  transition: all .02s ease;
  width: 9rem;
  height: 9rem;
  text-align: center;
  background: rgba(0,0,0,0.8);
  text-shadow: 0 0 0.5rem black;
  border: .3rem solid rgba(136, 187, 180, 0.5);
  text-transform: uppercase;
  color: #cfcfcf;
}

.box-rock:hover, .box-paper:hover, .box-scissors:hover, .box-play-again:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2rem black;
  background-color: rgba(0,0,0,0.9);
}

.box-default {
  border-radius: 12rem;
  width: auto;
  height: auto;
  padding: 3%;
}

.box-rock {
  border: .6rem solid rgba(189, 113, 0, 0.5);
}
.box-paper {
  border: .6rem solid rgba(245, 222, 179, 0.7);
}
.box-scissors {
  border: .6rem solid #9cb8b8;
}

.box-counter-player, .box-counter-cpu {
  padding: 2%;
  padding-bottom: 0%;
  width: 20vw;
  min-width: 250px;
  min-height: 140px;
  font-size: 1.5rem;
  color: #d1c7b9;
}

.box-counter-player {
  position: absolute;
  left: 2%;
  bottom: 0.5%;
} 

.box-counter-cpu {
  position: absolute;
  right: 2%;
  bottom: 0.5%;
}

.box-win, .box-lose {
  font-size: 2rem;
  padding: 5%;
  color: #d1c7b9 !important;
}

.box-counter-win  {
  border: .6rem solid #67a396;
  box-shadow: 0 0 2rem #67a396;
  color: #67a396 !important;
}

.box-counter-lose {
  border: .6rem solid #b99633;
  box-shadow: 0 0 2rem #b99633;
  color: #6b5414;
}

.counters li {
  list-style-type: none;
  display: inline;
  font-size: 40px;
  color: #ff6c01;
  padding: 10px; 
  text-shadow: 0 0 2rem #e60000;
  text-align: right;
  transition: all .2s ease;
}

.win {
  transform: scale(1.1) !important;
  color: #67a396 !important;
  text-shadow: 0 0 1rem #67a396 !important;
  transition: all .02s ease;
}

.lose {
  transform: scale(1.1) !important;
  color: #b99633 !important;
  text-shadow: 0 0 1rem #b99633 !important;
  transition: all .02s ease;
}


.pressed {
  transform: scale(1) !important;
  background: rgba(0,0,0,1);
  box-shadow: 0 0 3rem #000000 !important;
  transition: all .1s ease !important; 
}


.text-default, .rock-text, .paper-text, .scissors-text  {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #d1c7b9;
  text-shadow: 0 0 0.5rem rgb(0, 0, 0);
  position: relative;
  top: 42%;
  transform: translateY(-50%);
  user-select: none;
}

.rock-text {
  color: #bd7100;
  font-size: 1.8rem;
  cursor: pointer;
}

.paper-text {
  color: wheat;
  font-size: 1.8rem;
}

.scissors-text {
  margin-left: -4%;
  color: #9cb8b8;
  font-size: 1.7rem;
}

.text-highlight {
  color: rgb(255, 255, 255);
}

.box-play-again {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #80bbb8;
  text-shadow: 0 0 0.5rem rgb(0, 0, 0);
  user-select: none;
}
